@charset "utf-8";
/* CSS Document */
div.sample_popup { z-index: +1; }
div.menu_form_header{
cursor:move
}
div.sample_popup div.menu_form_header
{
	border: 1px solid #63a8e9;
	border-bottom: 0px;
	cursor: default;
	width: 550px;
	height:      20px;
	line-height: 20px;
	vertical-align: middle;
	background:url(../images/bgfd_top.gif) repeat-x;
	text-decoration: none;
	font-family: "Times New Roman", Serif;
	font-weight: 900;
	font-size: 13px;
	color: #FFFFFF;
}
div.sample_popup div.menu_form_body
{
  border: 1px solid #63a8e9;
  width: 550px;
  background: #fff;
}
div.sample_popup img.menu_form_exit
{
  float: right;
  margin: 4px 5px 0px 0px;
  cursor: pointer;
}
div.sample_popup table
{
  border-collapse: collapse;
  width: 100%;
}
div.sample_popup th
{
  width: 1%;
  padding: 0px 5px 1px 0px;
  text-align: left;
  font-family: "Times New Roman", Serif;
  font-weight: 900;
  font-size: 13px;
  color: #004060;
}
div.sample_popup td
{
  width: 99%;
  padding: 0px 0px 1px 0px;
}
div.sample_popup form
{
  margin: 0px;
  padding: 8px 10px 10px 10px;
}
div.sample_popup input.field
{
  border: 1px solid #808080;
  width: 95%;
  font-family: Arial, Sans-Serif;
  font-size: 12px;
}
div.sample_popup input.btn
{
  margin-top: 2px;
  widows:100px;
  height:20px;
  border: 1px solid #0259aa;
  background-color: #63a8e9;
  font-family: Verdana, Sans-Serif;
  font-size: 12px;
  color:fff;
}
a {
	color: #FF0000;
	text-decoration: none;
}
