<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName" default-lazy-init="true">
   <bean id="practiceUri" class="com.ambow.studyflow.common.URIGenerator" singleton="false">
   <property name="protocol" value="http"/>
   <property name="port" value="80"/>
   <property name="host" value="localhost"/>
   <property name="contextPath" value="/iflow"/>
   <property name="fileName" value="doJob.jhtml"/>
   <property name="encoding" value="utf-8"/>
   </bean>
</beans>