/*body{margin:0px;background-color:#FCFCFC;background-image:none;background-repeat:repeat;background-position:top left;font-family:Tahoma, Verdana, Arial;font-size:83%;color:#444;direction:ltr;}
html.IE_M7, html.IE_M8, html.Win6{font-family:"Segoe UI", Tahoma, Verdana, Arial;}
html.Safari{min-width:987px;}
html.SF_iPhone{-webkit-text-size-adjust:none;}
label{color:#444;}
input, select, textarea, button{font-size:100%;font-family:"Segoe UI", Tahoma, Verdana, Arial;}
h1, h2, h3, h4, h5, h6{margin:0px 0px 5px;font-weight:normal;line-height:110%;}
h2, h3, h4, h5, h6{color:#F4793A;}
h1{color:#000;}
h1, h2{font-size:161.7%;}
h3{font-size:125%;}
h4{font-size:112%;}
h5, h6{font-size:100%;}
h2 + h3, h3 + h3{margin-top:16px;}
p{margin:0px 0px 1.35em;}
a{font-weight:inherit;text-decoration:none;color:#0066CC;cursor:pointer;}
a:visited{color:#0066CC;}
a:hover{text-decoration:underline;}
ul{margin:0px 0px 20px 1em;padding:0px 0px 0px 1em;list-style-type:disc;}
li{margin:0px 0px 3px;}*/

font{line-height:normal;}
a img{border-width:0px;}
.IE_M7 #c_header.c_hcobrand .c_h .c_hc{margin-left:0px !important;}
.IE_M6 .c_h{height:47px;}
.IE_M6 .c_hg{filter:progid:DXImageTransform.Microsoft.Alpha( Opacity=100, FinishOpacity=0, Style=1, StartX=0, FinishX=0, StartY=100, FinishY=90);background-color:#FFF;zoom:1;}
.IE_M6 .c_hg_pm{background-image:none;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=, Style=0);zoom:1;}
.c_hg_pm .inCenter{padding-left:100px;}
.c_h, .c_h a, .c_h a:visited, .c_h a:hover{color:#000;}
.c_is{font-family:Arial;line-height:0;font-size:0;position:relative;vertical-align:bottom;}
.IE .c_is, .Safari .c_is{display:inline-block;}
.c_is span{position:absolute;}
.Firefox .c_nootl{border:1px dotted transparent;outline-style:none;}
.Firefox .c_nootl:focus{border:1px dotted black;}
.c_hl{text-align:left;zoom:1;z-index:3000000;position:absolute;top:2px;left:20px;white-space:nowrap;}
.rtl .c_hl{top:0px;}
.IE_M6 .c_hl{top:5px;}
.c_tm{font-size:8px;vertical-align:4px;}
.c_hlp{font-size:120%;}
.c_hbrnd{font-family:Tahoma, Verdana, Arial;}
.IE_M7 .c_hbrnd, .IE_M8 .c_hbrnd, .Win6 .c_hbrnd{font-family:"Segoe UI", Tahoma, Verdana, Arial;}
.c_hl a:hover{text-decoration:none;}
.c_hlc{font-family:Verdana;font-size:65%;}
.c_hll{border-left-width:1px;border-left-style:solid;border-left-color:#fff;}
.c_hc{padding:0px 45px;position:relative;z-index:2000000;}
.ltr.Firefox .c_ffpub{padding-bottom:9px;}
.Firefox.FF_M1 .c_ffpub, .Firefox.FF_M2 .c_ffpub, .rtl.FF_M3 .c_ffpub, .Safari .c_ffpub{padding-bottom:12px;}
.inCenter{margin-left:5.5em;margin-right:4.5em;padding-top:12px;z-index:1000000;}
IE_M6 .inCenter{position:relative;}
.rtl .inCenter{padding-top:10px;}
.Firefox .inCenter{padding-top:14px;}
.rtl.Firefox .inCenter{padding-top:11px;}
.c_hpubl{position:relative;top:3px;}
.Firefox .c_hpubl{top:1px;}
.c_hf{border:1px solid #888;padding:2px 30px 4px 5px;display:inline;background:#FFF;position:relative;}
.rtl.IE .c_hf{top:1px;}
.IE_M6 .c_hf{padding-bottom:2px;top:1px;vertical-align:top;zoom:1;}
.rtl.FF_M2 .c_hf{top:-6px;}
.c_hf form{display:inline;}
.Safari .c_hf{padding-top:1px;padding-bottom:3px;display:inline-block;}
.Safari .c_hf input{margin:0px;}
.IE_M7 .c_hf{padding-top:1px;padding-bottom:1px;zoom:1;}
.c_hf input{border:none;width:190px;background:transparent;color:#555;line-height:1.2em;}
.glyph{display:block;position:absolute;height:16px;width:16px;top:50%;right:3px;}
.Firefox .glyph{top:45%;}
.glyph span{height:16px;width:16px;display:block;overflow:hidden;position:absolute;top:-8px;left:0px;}
.glyph img, .IE_M6 .glyph span span{display:block;position:absolute;top:0px;left:-18px;}
.c_hf input.c_fia{color:#000;}
.c_hf .c_m{width:226px;}
.Firefox.rtl .c_hf .c_m{width:219px;}
.c_ht{padding-right:10px;display:inline;}
.IE_M6 .c_ht{margin-bottom:0px;zoom:1;}
.IE_M6.ltr .c_ht{position:relative;top:5px;}
.c_ht a{white-space:nowrap;}
.c_ht li{margin-right:14px;display:inline;list-style:none;}
.IE_M6.rtl .c_ht{position:relative;}
.rtl.FF_M2 .c_ht li{margin-left:0px;padding-left:14px;display:table-cell;}
.rtl.FF_M2 .c_ht li li{display:inline;}
html.rtl div.c_hc div.inCenter ul.c_ht li{zoom:1;}
html.rtl div.c_hc div.inCenter ul.c_ht ul.c_m li{zoom:0;}
html.rtl #c_search div.c_hf ul.c_m, html.rtl #c_search div.c_hf div.c_shad{margin-left:10px;margin-right:-10px;}
.c_ht li:after{content:" ";}
.c_ht > li{zoom:1;}
.c_ht > li > a{zoom:1;}
.c_me{position:absolute;top:11px;right:15px;white-space:nowrap;text-align:right;z-index:3000000;}
.rtl .c_me{top:10px;}
.FF_M3 .c_me{top:9px;}
.rtl.FF_M3 .c_me .c_is{position:static;}
.IE .c_me{top:7px;}
.IE_M6 .c_me{top:9px;}
.c_h .signIn{padding-right:3px;white-space:nowrap;}
.c_h .signIn .c_is{vertical-align:-12px;}
.Firefox .c_h .signIn .c_is{vertical-align:middle;}
.c_h .signOut{font-family:Verdana;position:absolute;top:80%;right:45px;}
.Firefox .c_h .signOut{right:37px;top:75%;}
.c_me .c_chev{vertical-align:4px;}
.Safari .c_me .c_chev{vertical-align:middle;}
ul.c_m{border:1px solid #ccc;margin:0px;padding:0px 0px 2px;background:#FCFCFC;position:absolute;display:none;list-style:none;z-index:2000001;min-width:120px;}
.c_shad{z-index:2000000;}
.c_mli, .c_m li{margin:2px 2px 0px;display:block;list-style:none;zoom:0;}
.c_mli a, .c_m li a{border-width:0px;padding:3px 6px 5px;text-align:left;display:block!important;text-decoration:none;white-space:nowrap;color:#444;text-overflow:clip;overflow:visible;}
.c_m li a:visited{color:#444;}
.c_m li a.c_light, .c_mli a:hover, .c_m li a:hover{border:1px solid #bbd8fb;padding:2px 5px 4px;text-decoration:none;color:#444;background-color:#F3F7FD;}
.c_mli a.sel, .c_m li a.sel{border:1px solid #83aada;padding:2px 5px 4px;text-decoration:none;background-color:#DDECFE;}
a.c_ml{white-space:nowrap;}
a.c_ml:hover{text-decoration:none;}
a.c_ml .c_mlu:hover{text-decoration:underline;}
.c_m .GroupHeading{border-top-width:1px;border-top-style:solid;border-top-color:#ccc;padding-top:4px;}
.BoldText,.cSubsectionSubtitle {font-weight: bold;}
.c_m .c_ms{border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#dcdcdc;margin:2px 2px 0px;}
.ToolbarBorder{border:1px solid #ccc;}
.ToolbarBG{background-color:#FCFCFC;background-image:none;background-repeat:repeat-x;}
.FloatLeft, .ToolbarItemFirst, .ToolbarItem, .EditContact .Values, .ContactDetails .Value{float:left;}
.BottomUnmanaged .Toolbar .c_mcp UL{height:auto;}
.Firefox .ToolbarItemCheckbox{margin-top:2px;}
.Managed .Toolbar{position:absolute;z-index:2;left:0em;right:0em;}
.Toolbar UL{margin:0px;padding:0px;list-style:none;}
.ToolbarItemFirst, .ToolbarItem{display:block;white-space:nowrap;}
.BottomUnmanaged .ToolbarItem{margin-bottom:0px;}
.ToolbarHelpLink{padding-right:4px;}
.ltr.IE .c_chev{vertical-align:auto;position:relative;top:-0.2em;}
.rtl.IE .c_chev{position:static;top:auto;}
.IE_M7 #fromAddrMenu .c_chev{display:inline-block;}
.Firefox .ToolbarHelpLink .c_chev, .Safari .ToolbarHelpLink .c_chev{vertical-align:5px;}
.BigPaddingLeft{padding-left:10px;}
.c_mcp a:hover{text-decoration:none !important;}
.rtl.IE_M8 LI.ProductSearchBox .c_ml{width:13.5em;}
img.descend_rest_dark{background-position:-266px 0px;width:10px;}
img.ascend_rest_dark{background-position:-276px 0px;width:10px;}
.descend_rest_dark, .ascend_rest_dark{border:none;overflow:hidden;background-repeat:no-repeat;background-image:url(../images/ics_2.gif);height:10px;width:9px;}


